* {
  padding: 0;
  margin: 0 auto; }

/*#Ids*/
#contenido {
  margin-top: 10px;
  width: 98%; }

#datepicker {
  color: white;
  transform: translate(-470px, 0px); }

#home h4 {
  transform: translate(0px, 200px); }

#mifoto {
  background-size: 100% 100%;
  background-image: url(../img/background.jpg);
  border-radius: 50px;
  height: 100px;
  width: 100px; }

@media screen and (max-width: 350px) {
  section#trabajos aside {
    display: none; } }

#SobremiSection {
  display: inline-block;
  height: 100%;
  margin: 2px;
  padding: 3px;
  width: 48%; }
  #SobremiSection img {
    border: 1px;
    border-radius: 100px; }
  @media screen and (max-width: 350px) {
    #SobremiSection {
      display: block;
      height: 75%;
      width: 98%; } }

#SobremiImg {
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 50%; }
  #SobremiImg h3 {
    *display: inline-block; }
  #SobremiImg img {
    border-radius: 15px;
    margin: 5px;
    transform: translate(10px, 0px); }
  @media screen and (max-width: 350px) {
    #SobremiImg {
      height: 35%;
      width: 100%; }
      #SobremiImg img {
        height: 80px;
        width: 80px; } }

#tabs ul {
  text-align: center;
  transform: translate(0px, 5px); }
  #tabs ul li {
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
    border-radius: 0px;
    display: inline-block;
    font-size: 18px;
    margin: 1px;
    padding: 3px; }
    #tabs ul li:hover {
      background-color: white; }
#tabs div {
  margin: 2px;
  padding: 3px; }
  #tabs div ol li {
    list-style-type: none; }

#tabsContent {
  *border: 2px solid white; }

/*h1,h2,h3...*/
h1 {
  margin: 2px; }

h2 {
  border-bottom: 2px solid white;
  font-size: 20px;
  margin: 3px;
  text-align: center; }

h3 {
  font-size: 28px;
  margin: 5px;
  text-align: center; }

h4 {
  font-size: 24px;
  text-align: center;
  transform: translate(0px, 125px); }

/*main*/
article {
  border: 1px solid white;
  border-radius: 10px;
  display: inline-block;
  height: 75%;
  margin: 2px 20px 2px 2px;
  padding: 3px;
  width: 15%; }
  article a {
    color: #4b6a4d;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none; }
  article p {
    display: none;
    font-size: 18px;
    padding: 0;
    position: absolute;
    width: 10%;
    vertical-align: bottom; }
    @media screen and (max-width: 350px) {
      article p {
        width: 80%; } }
  @media screen and (max-width: 350px) {
    article {
      margin: 10px 2px 2px 10px;
      height: 100px;
      width: 85%; } }

aside article {
  border-radius: 0;
  float: left; }

body {
  background-color: rgba(9, 58, 62, 0.95);
  background-size: 100% 100%;
  opacity: 0.8; }

footer {
  background-color: rgba(43, 43, 41, 0.9);
  text-align: center;
  vertical-align: bottom; }
  footer p {
    font-size: 20px; }

form {
  min-height: 250px; }

label {
  display: inline-block;
  margin-left: 3px;
  width: 100%; }

input[type="text"] {
  width: 50%; }
  @media screen and (max-width: 350px) {
    input[type="text"] {
      margin: 3px;
      width: 80%; } }

nav {
  display: inline-block;
  font-size: 20px;
  text-align: right;
  width: 100%; }
  nav ul {
    display: inline-block; }
    nav ul li {
      display: inline-block;
      margin-right: 5px; }
      nav ul li a {
        *color: white; }
        nav ul li a:hover {
          border-bottom: 2px solid white; }
  @media screen and (max-width: 350px) {
    nav {
      display: none; } }

section {
  background-color: rgba(43, 43, 41, 0.9);
  background-size: 100% 100%;
  color: #4b6a4d;
  min-height: 500px;
  height: 100%;
  padding: 10px 5px 5px 5px; }
  @media screen and (max-width: 350px) {
    section {
      min-height: 650px; } }
  section p {
    padding: 5px 0px; }

/*(Por el calendario)*/
span {
  color: white; }

ul li {
  list-style-type: none; }
  ul li a {
    color: #4b6a4d;
    text-decoration: none; }

textarea {
  width: 50%; }
  @media screen and (max-width: 350px) {
    textarea {
      margin: 3px;
      resize: none;
      width: 80%; } }

/*.class*/
.bottom {
  background-color: #4b6a4d;
  height: 5px;
  width: 100%; }

.grupoaside {
  min-height: 200px; }

.smallNav {
  display: none; }
  @media screen and (max-width: 350px) {
    .smallNav {
      display: block;
      height: 40px;
      position: absolute;
      width: 95%; } }
  .smallNav ul {
    display: none;
    width: 100%; }
    .smallNav ul li a {
      font-size: 20px; }
  .smallNav:hover ul {
    display: block;
    float: left;
    position: relative; }
  .smallNav:hover li {
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 2px; }
    .smallNav:hover li a {
      display: inline-block;
      text-decoration: none; }

.titulo {
  position: absolute; }

.volver {
  position: absolute;
  text-align: right;
  transform: translate(-10px, 0px);
  width: 85%;
  vertical-align: top; }
  .volver a {
    color: #4b6a4d;
    text-decoration: none; }
  @media screen and (max-width: 350px) {
    .volver {
      display: none; } }

/*# sourceMappingURL=estilo.css.map */
